
@{
    ViewBag.Title = "UserLogin";
}

<h2><u>Welcome to Zero Hunger!</u></h2>
<br />
<form action="" method="post">
    E-mail: <input type="text" placeholder="Enter your e-mail" name="Email" class="form-control" /><br />
    Password: <input type="text" placeholder="Enter your password" name="Password" class="form-control" />
    <br />
    <input type="submit" value="Login" class="btn btn-success" /> <br /> <br />
    Don't have an account? <a href="/Registration/CreateUser">Sign up</a>
</form>

